<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dev_ExpertReview::manage_expert" title="Manage Expert" sortOrder="52">
                    <resource id="Dev_ExpertReview::view" title="View" sortOrder="10"/>
                    <resource id="Dev_ExpertReview::edit" title="Edit" sortOrder="11" />
                    <resource id="Dev_ExpertReview::delete" title="Delete" sortOrder="12" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
